
{%  extends 'base.html.twig' %}

{%  block title %}
{{ parent() }} Starshop: Home Page
{%  endblock %}

{%  block body %}
<h1><strong>Starshop:</strong> your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{ starshipCount * 10 }} starships!

    {% if starshipCount  > 400  %}
        {# Do you think "shiiploads" will pass the legal team? #}
        <p>That's a lot more!</p>
    {% endif %}
</div>

<div>
    <h2>My Ship</h2>

    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain | upper | lower | title }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
{%  endblock %}
